p,
span {
  line-height: 1.5em;
}

.row-layout {
  display: flex;
  flex-direction: row;
}

.column-layout {
  display: flex;
  flex-direction: column;
}

.quoteBox {
  background-color: rgb(30, 127, 162);
  display: flex;
  justify-content: center;
  align-items: center;
}

.quoteBox-container {
  background-color: olive;
  margin: 4vmax 6vmax;
}

.quote-img {
  display: inline;
  margin: 3vmin 3vmin 3vmin 0;
  width: 5vmin;
  height: 5vmin;
  pointer-events: none;
  filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.5));
}

#text {
  margin: 0;
  padding: 0vmax 3vmin 3vmin 3vmin;
  -webkit-text-stroke: 1px #228bff;
  font-family: SFProDisplay-Bold;
  font-size: calc(12px + 2vmax);
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  font-weight: 700;
}

#author {
  margin: 1.5vmin 3vmin 0 0;
  -webkit-text-stroke: 1px #228bff;
  font-family: SFProDisplay-HeavyItalic;
  font-style: italic;
  font-size: calc(6px + 1.5vmax);
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 0;
  text-align: right;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  font-weight: 800;
}

#tweet-quote img {
  width: calc(24px + 5vmin);
  filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.3));
}

#quote-col {
  margin-right: max(-39px, -7.5vmin);
  padding-right: min(39px, 7.5vmin);
}

#btn-col {
  margin: auto;
}

#next-btn {
  width: 15vmin;
  height: 15vmin;
  max-width: 78px;
  max-height: 78px;
}

.next-btn-container .btn:hover {
  background-color: rgba(34, 139, 255, 0.2) !important;
}

.next-btn-container .btn > img {
  background: rgba(34, 139, 255, 0.1) !important;
  filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.3));
}

@media only screen and (max-width: 534px),
  screen and (max-height: 534px),
  screen and (orientation: portrait) {
  .quoteBox-container {
    margin: 3vmin 2vmin 3vmin 2vmin;
  }

  #btn-col {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0 5vmin 5vmin 0;
  }

  #quote-col {
    margin-right: 0vmin;
    padding-right: 0vmin;
  }

  #text {
    padding: 0vmax 3vmin 3vmin 3vmin;
    font-size: calc(12px + 3vmax);
  }

  #author {
    font-size: calc(10px + 2vmax);
  }

  #quote-box {
    min-height: calc(97vh - calc(10vmin + min(15vmin, 78px)));
    margin-top: 3vmin;
    margin-bottom: calc(10vmin + min(15vmin, 78px));
  }

  .next-btn-container .btn:hover {
    background-color: unset !important;
  }
}

@media only screen and (max-width: 429px), screen and (max-height: 429px) {
  #text,
  #author {
    color: rgba(255, 255, 255, 0.8);
    -webkit-text-stroke: unset;
  }

  #author {
    text-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.5);
  }

  #quote-box {
    margin-bottom: calc(10vmin + max(15vmin, 54px));
  }
}
