.quoteBox {
  background-color: rgb(30, 127, 162);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quoteBox-container {
  background-color: olive;
  margin: 2vmax 8vmax 2vmax 8vmax;
  display: flex;
  flex-direction: column;
}

.quote-img {
  margin: 18px;
  height: 5vmin;
  pointer-events: none;
  position: absolute;
}

#text {
  margin: 0;
  padding: 6vmax 2vmax 2vmax 2vmax;
  -webkit-text-stroke: 1px #228bff;
  font-family: SFProDisplay-Bold;
  font-size: calc(10px + 4vmin);
  /* font-size: 42px; */
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  line-height: 48px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: 700;
}

#author {
  margin: 0 18px 18px 0;
  -webkit-text-stroke: 1px #228bff;
  font-family: SFProDisplay-HeavyItalic;
  font-size: calc(6px + 2vmin);
  /* font-size: 24px; */
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 0;
  text-align: right;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.85);
  font-weight: 800;
}
