div,
button,
img {
  margin: 0;
  padding: 0;
  border: 0;
}

.next-btn-container {
  background-color: aqua;
  width: 64px;
  height: 64px;
  display: inline-flex;
}

.next-btn-container .btn {
  background-color: transparent;
}

.next-btn-container .btn > img {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  border: 1px solid #228bff;
}
