#next-btn div,
#next-btn button,
#next-btn img {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
}

#next-btn {
  background-color: aqua;
  min-width: 54px;
  min-height: 54px;
}

.next-btn-container .btn {
  background-color: transparent;
}

.next-btn-container .btn > img {
  background: rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  border: 1px solid #228bff;
}
