.App {
  background: center/cover url("./img/clouds.jpeg");
}

.App-container {
  width: 94vmax;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quoteBox,
.quoteBox-container,
#next-btn {
  background-color: unset;
}

@media only screen and (max-width: 534px),
  screen and (max-height: 534px),
  screen and (orientation: portrait) {
  .quoteBox-container {
    margin: 0vmin -1vmin 0vmin -1vmin;
  }
  .App-container {
    width: 92%;
  }
}
